body {
           color: #c8c8c8;
           background-color: #222;
           width:1000px;
        }
.blog {
            -moz-box-shadow: 3px 3px 20px #555;
            -webkit-box-shadow: 3px 3px 20px #555;
            box-shadow: 3px 3px 20px #555;
            width:800px;
}
        .post-title {
            margin: 2px;
            margin-left: 10px;
            text-decoration: underline;
            color: #abc;
        }
        .entry {
            margin: 2px 4px 15px 2px;
        }
        .post-body {
            padding:5px;
        }
        a {
            color:#080;
        }
            a:visited {
                color:#a7a;
            }
        .menu li a{
            background-color: #D3E2F0;
            border-radius: 5px;
            display:block;
        }
        .menu ul li {
            display:block;
            margin-bottom:5px;
        }

        .menu {
            float:right;
            display:block;
            margin-top:30px;
        }
